@page
@model LoginModel

@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<html lang="en">

<head>

    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/fonts/icon.PNG" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Theme/Login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Theme/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Theme/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Theme/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Theme/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Theme/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Theme/Login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="display:contents;">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/system_images/aas.jpg" alt="Attendance System">

                </div>
                <form id="account" class="form-horizontal" method="post">

                    <div class="login100-form validate-form">
                        <span style="font-size: 20px;" class="login100-form-title">
                            Automated Attendance System

                        </span>

                        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                            <input asp-for="Input.Email" class="input100" />

                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <input asp-for="Input.Password" class="input100" />
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="container-login100-form-btn">
                            <button type="submit" class="login100-form-btn">Log in</button>

                        </div>
                        <div class="text-center p-t-12">

                            <a class="txt2" href="/Identity/Account/Register">
                                Not have Account?
                            </a>
                        </div>
                        <div class="text-center p-t-12">
                            <span class="txt1">
                                Forgot
                            </span>
                            <a class="txt2" href="/Account/ForgotPassword">
                                Username / Password?
                            </a>
                        </div>
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                    </div>
                </form>
            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="~/Theme/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Theme/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Theme/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Theme/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Theme/Login/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/Theme/Login/js/main.js"></script>

</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}